# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
*.csv
*.wav

# Models
*.pt
*.pth
checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db